extend layout

block content
  head
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/favicon.ico')
    link(href='/stylesheets/landing.css', rel='stylesheet')
    link(href='/stylesheets/bootplus-responsive.min.css' rel='stylesheet' media='screen')
    title Katalist
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') Katalist
          .nav-collapse.collapse
            ul.nav
              li
                a(href='#about') About
            ul#userLinks.nav.pull-right
              li
                a(href='/signup') Register
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  | Log in
                .dropdown-menu(style='padding:17px;')
                  form.form-signin(action='/login', method='POST')
                    input#userInput.form-control(type='text', name='username', placeholder='Username', required='')
                    input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')
                    .checkbox
                      label
                        input(type='checkbox', value='remember-me')
                        | Remember me
                    button.btn.btn-primary.btn-block(type='submit') Sign in
          // /.nav-collapse

    #feed-container
      #post_container.col-md-12
    script(src='../js/jquery.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/offcanvas.js')
    script(src='../js/firebase.js')
    script(src='../js/katalist.js')