extends layout

block content
  head
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='/images/favicon.ico')
    style.
      body {
      background-color: #ffffff;
      }
    title Katalist
    link(href='/stylesheets/login.css', rel='stylesheet')
    link(href='/stylesheets/bootplus-responsive.min.css' rel='stylesheet' media='screen')
  body
    .container
      .jumbotron.responsive.other-color.visible-lg.visible-md(align='center')
        form.form-signin(action='/login', method='POST')
          h1.fancy.form-signin-heading Katalist
          h3.fancy.form-signin-heading Please sign in
          input#userInput.form-control(type='text', name='username', placeholder='Username', required='', autofocus='')
          input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='')
          .checkbox
            label
              input(type='checkbox', value='remember-me')
              |  Remember me
          button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign in
        center
          a.text-center.new-account(align='center', href='/signup') Create an account
          #message
          h3.text-center.lowerc.fancy
            font(color='red')
