extends layout

block content
  head
    // Custom styles for this template
    link(href='/stylesheets/signup.css', rel='stylesheet')
  body
    .container
      .row
        .col-md-4.col-md-offset-4
          h1.text-center.login-title
            | Registration Details
            .signup-wall
              form.form-signin(action='/signup', method='POST')
                input.form-control(type='text', name='username', placeholder='Username', required='required', autofocus='autofocus')
                input.form-control.nomargin(type='password', name='password', placeholder='Password', required='required')
                input.form-control(type='email', name='email', placeholder='Email', required='required')
                input.form-control(type='text', name='firstName', placeholder='First Name', required='required')
                input.form-control(type='text', name='lastName', placeholder='Last Name', required='required')
                button.btn.btn-primary.btn-block(type='submit') Register
                span.clearfix
            #message