.form-signin input {
  margin-bottom: 3px;
}

body {
  padding-top: 60px;
}


#feed-container {
  margin: 0 auto;
  max-width: 700px;
}

.upvote-container {
  text-align: right;
}

.card .upvote {
  color:06FF6F;
  display:inline-block;
}